In [58]:
import pandas as pd
import numpy as np

In [162]:
with open("../kin_engagement_dataset.csv") as f:
    data = pd.read_csv(f)

In [163]:
data

,hP,dP,gammaP,hE,dE,gammaE,beta,hit_flag,miss_distance,hit_time
0,5000.00,0.00,-0.3491,5000.00,0.0,-0.3491,-0.3491,0,NaN,NaN
1,5000.00,0.00,-0.3491,5000.00,0.0,-0.3491,-0.2493,0,NaN,NaN
2,5000.00,0.00,-0.3491,5000.00,0.0,-0.3491,-0.1496,0,NaN,NaN
3,5000.00,0.00,-0.3491,5000.00,0.0,-0.3491,-0.0499,0,NaN,NaN
4,5000.00,0.00,-0.3491,5000.00,0.0,-0.3491,0.0499,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
316426,6428.57,2857.14,0.1496,7857.14,0.0,-0.2493,-0.1496,0,12310.4325,NaN
316427,6428.57,2857.14,0.1496,7857.14,0.0,-0.2493,-0.0499,0,16109.3516,NaN
316428,6428.57,2857.14,0.1496,7857.14,0.0,-0.2493,0.0499,0,19837.7899,NaN
316429,6428.57,2857.14,0.1496,7857.14,0.0,-0.2493,0.1496,0,22452.0551,NaN
316430,6428.57,2857.14,0.1496,7857.14,0.0,-0.2493,0.2493,0,24187.8707,NaN

In [164]:
# Show 'hit_flag" distribution
data['hit_flag'].value_counts()

hit_flag
0    227243
1     89188
Name: count, dtype: int64

In [152]:
df_hit = data[data['hit_flag'] == 0]

In [145]:
df_hit

,hP,dP,gammaP,hE,dE,gammaE,beta,hit_flag,miss_distance,hit_time
0,5000.00,0.0,-0.3491,5000.00,0.0,-0.3491,-0.3491,0,NaN,NaN
1,5000.00,0.0,-0.3491,5000.00,0.0,-0.3491,-0.2493,0,NaN,NaN
2,5000.00,0.0,-0.3491,5000.00,0.0,-0.3491,-0.1496,0,NaN,NaN
3,5000.00,0.0,-0.3491,5000.00,0.0,-0.3491,-0.0499,0,NaN,NaN
4,5000.00,0.0,-0.3491,5000.00,0.0,-0.3491,0.0499,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
268817,6428.57,0.0,-0.2493,12142.86,0.0,-0.1496,-0.2493,0,32857.6488,NaN
268818,6428.57,0.0,-0.2493,12142.86,0.0,-0.1496,-0.1496,0,36077.0829,NaN
268819,6428.57,0.0,-0.2493,12142.86,0.0,-0.1496,-0.0499,0,37486.5264,NaN
268820,6428.57,0.0,-0.2493,12142.86,0.0,-0.1496,0.0499,0,38044.5280,NaN
268821,6428.57,0.0,-0.2493,12142.86,0.0,-0.1496,0.1496,0,38619.2746,NaN